	<h1>ABOUT US</h1>
		<p><a href = "http://railstutorial.org">Ruby on Rails Tutorial is a project to make a book and screencasts to teach web devleopment with <a href = "http://rubyonrails.org/">Ruby on Rails.  THis is the sample application for the tutorial.
		</p>
	